com/CrabbySpeck/PTAG/src/__pycache__/PythonGameLib.cpython-35.pyc
com/CrabbySpeck/PTAG/src/__pycache__/PythonGameLib.cpython-35.pyc
com/CrabbySpeck/PTAG/src/__pycache__/Music.cpython-35.pyc
com/CrabbySpeck/PTAG/src/__pycache__/Music.cpython-35.pyc
com/CrabbySpeck/PTAG/assets/story/~WRL2227.tmp
com/CrabbySpeck/PTAG/assets/~$hallway-room.xlsx
com/CrabbySpeck/PTAG/assets/story/~WRL1996.tmp